$bodyBackground: #fff;
$decorationLine: #F9F9F9;
$clientBlockBackground: #3f9ab7;

$mainColor: #000;
$articleColor: #4f4f4f;
$clientColor: #fff;
$secondaryColor: #f2994a;

$spritePath: '../img/sprite/sprite.png';

$roboto: 'Roboto', 'sans-serif';
$nunito: 'Nunito Sans' "sans-serif";